*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
body{
    background-color:lightgray ;
}
.con{
    width: 360px;
    height: 700px;
    margin: 5% auto;
    
     overflow: hidden;
  background-color: rgb(149, 180, 180);
     justify-content: center;
}
form{
    margin-left: 50px;
}

form input{
  
    padding: 10px 15px;
    margin: 5px,0;
    border: 0;
    border-bottom:1px solid rgb(19, 61, 152) ;
    outline:none;
    background: transparent;
}
form textarea{
    
    padding: 10px 15px;
    margin: 5px,0;
    border: 0;
    border-bottom:1px solid rgb(19, 61, 152) ;
    outline:none;
    background: transparent;
}


div label{
    font-weight: bold;
    color: rgb(19, 79, 147);
  
}
.text-lightblue{

    color: rgb(19, 79, 147)!important;
}



    